<div class="h1">{{title}}</div>

<div class="well-lg">
	Search
	
	<div class="form-group">
		<input class="form-control" type="text" ng-model="searchTerm">
	</div>
</div>

<table class="table table-bordered table-hover">
	<thead>
	<tr>
		<th>Created</th>
		<th>Status</th>
		<th>Company</th>
		<th>Request By</th>
		<th>Keywords</th>
	</tr>
	</thead>
	
	<tbody>
	<tr ng-repeat="request in staffingRequests" ng-click="goTo('/staffingrequest/' + request.id)"
	    class="clickable">
		<td>{{request.created | date : short}}</td>
		<td>{{request.active ? 'Active' : 'Inactive'}}</td>
		<td>{{request.company}}</td>
		<td>{{request.hiringUser.username}}</td>
		<td>{{request.skillKeywords.toString()}}</td>
	</tr>
	</tbody>
</table>