<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
			        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand">TPS App</a>
		</div>
		
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="clickable" ng-class="{active: pathIsActive(navbar.home.path)}">
					<a ng-click="goTo('/')">
						Home <span class="sr-only">(current)</span>
					</a>
				</li>
				<li ng-class="{active: pathIsActive(navbar.candidates.path)}">
					<a ng-click="goTo(navbar.candidates.path)" class="clickable">Candidates</a>
				</li>
				<li class="dropdown"
				    ng-class="{active: pathIsActive(navbar.users.path) || pathIsActive(navbar.hiringCompanies.path)}">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button"
					   aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a ng-click="goTo(navbar.hiringCompanies.path)" class="clickable">Hiring Companies</a></li>
						<li><a ng-click="goTo(navbar.users.path)" class="clickable">Users</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button"
					   aria-haspopup="true" aria-expanded="false">Staffing Requests <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a ng-click="goTo(navbar.staffingRequests.path)" class="clickable">View All</a></li>
						<li><a class="clickable">Create Staffing Request</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button"
					   aria-haspopup="true" aria-expanded="false">Staffing Recommendations <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a ng-click="goTo(navbar.staffingRecommendations.path)" class="clickable">View All</a></li>
						<li><a class="clickable">Create Staffing Recommendation</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
					   aria-expanded="false">
						<i class="glyphicon glyphicon-user"></i>
						{{session.username}}
						<i class="glyphicon glyphicon-check text-success" ng-show="session.active"></i>
						<i class="glyphicon glyphicon-remove-circle text-danger" ng-show="!session.active"></i>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" ng-if="!session.active">
						<li>
							<a>
								Status: Not Logged In
							</a>
						</li>
					</ul>
					<ul class="dropdown-menu" ng-if="session.active">
						<li class="clickable"><a>Profile</a></li>
						<li role="separator" class="divider"></li>
						<li class="clickable" ng-click="loginAsAdmin()" ng-hide="session.type === 'admin'">
							<a>Switch to Admin User Session</a>
						</li>
						<li class="clickable" ng-click="loginAsStaffUser()" ng-hide="session.type === 'staffing'">
							<a>Switch to Staff User Session</a>
						</li>
						<li class="clickable" ng-click="loginAsHiringUser()" ng-hide="session.type === 'hiring'">
							<a>Switch to Hiring User Session</a>
						</li>
						<li role="separator" class="divider"></li>
						<li class="clickable">
							<a ng-click="logout()">
								<i class="glyphicon glyphicon-log-out"></i>
								Logout
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>